@import "tailwindcss";

/* All dots: white border, transparent background */
.swiper-pagination-bullet {
  background: transparent;
  border: 1px solid white;
  opacity: 1;
  padding: 4px;
}

/* Active dot: filled white */
.swiper-pagination-bullet-active {
  background: white !important;
}